$color: rgb(243, 230, 242);
$bg-color: lavenderblush;
$color-btn: black;
$font: "Comic Sans MS", cursive, sans-serif;
$font-optional: Verdana, Geneva, Tahoma, sans-serif;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

ul,
li {
    list-style-type: none;
}


img {
    max-width: 100%;
}

header {

    .titulo {
        background: #333333;
        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
        color: violet;
        background: $bg-color;
        background: linear-gradient(to right, rgb(231, 161, 161), rgb(248, 225, 225), rgb(248, 117, 117), );

        & h1 {
            display: none;
            align-items: start;
            font-family: $font;
            padding: 1rem;
        }
    }

    .logo-pagina {
        width: 150px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: -50px;
    }

    & nav ul li {
        padding: .5rem;


        & a {
            color: $color-btn;
            border: 5px double black;
            border-radius: 0.6rem;

            &:hover {
                background-color: lightcoral;
            }
        }
    }
}




// diseño del body

body {
    background: linear-gradient(to right, rgb(231, 161, 161), rgb(248, 225, 225), rgb(248, 117, 117), );
}

.primer-titulo {
    background-color: lightgray;
    color: grey;
    text-align: center;
    font-family: $font;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tratamientos {
    background-image: url(../img/Consultorio.jpeg);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    opacity: 0.7;


    & ul li {
        justify-content: start;
        border-radius: 40px;
        color: black;
        list-style: armenian;
        padding: 1rem;
        margin-left: 10px;
        text-decoration: overline;
        font-size: medium;

        &:hover {
            background-color: red;
        }

    }
}


.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4;
    gap: 1rem;
    object-fit: cover;


    & img {
        width: 100%;
        height: 100%;
    }
}

.acerca {
    text-align: center;
    font-family: $font;
    box-shadow: 1px 1px 1px 1px black;
    padding-bottom: 50px;

    & .acerca-titulo {
        background-color: lightgray;
        font-family: $font;
        color: gray;
        text-align: center;
        align-items: center;

        & h2 {
            font-size: x-large;
            text-decoration: underline;
        }
    }

    & .acerca-de p {
        font-size: medium;
        color: black;
        padding-left: .5rem;
    }


    & .titulo-servicios {
        text-align: start;
        background-color: lightgray;
        font-family: $font;
        font-size: small;
        color: gray;

        & h2 {
            font-size: xx-large;
            text-decoration: underline;
            padding-left: .5rem;
        }
    }

    & .servicios-dentales {
        font-family: $font-optional;
        color: black;
        text-shadow: 3px 3px 3px gray;
        text-align: start;
        padding: .5rem;

        & h6 {
            font-size: large;
            padding: 1rem;
        }
    }
}

.place {
    display: flex;
    flex-direction: column;
    color: black;

    & h2 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    & .mapa {
        text-align: center;
    }

    & .datos {
        text-align: center;
    }
}




// Diseño del Footer


footer {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255));

    & .titulo-pie {
        color: whitesmoke;
        text-align: center;

        & h2 {

            font-size: medium;
        }
    }


    & .redes {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;


        & .logo-instagram {
            width: 60px;
            height: 60px;
        }

        & .logo-whatsapp {
            width: 60px;
            height: 60px;
        }

        & .logo-twitch {
            width: 45px;
            height: 45px;
            margin-left: 3px;
        }

        & .logo-twitter {
            width: 45px;
            height: 45px;
            margin-left: 8px;
        }

        & .logo-youtube {
            width: 45px;
            height: 45px;
            margin-left: 12px;
        }
    }


    & .copyright {
        text-align: center;
        font-size: x-small;
        color: black;
    }

    & form {
        text-align: center;
    }
}



@media (min-width: 768px) and (orientation:landscape) {

    header {

        & .titulo h1 {
            display: block;
        }

        & .logo-pagina {
            display: none;
        }

        & .place {
            display: flex;
            flex-direction: column;
            color: black;

            & h2 {
                text-align: center;
                margin-top: 10px;
                margin-bottom: 30px;
            }

            & .mapa {
                text-align: center;
            }

            & .datos {
                text-align: center;
            }
        }
    }
}